.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url('/assets/bg.svg');
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

.gameScreen {
    display: flex;
    padding: 4rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: -webkit-fill-available;
}

.popup {
    position:relative;
    z-index:1001;
}

.arrow {
    position: absolute;
    top: 3rem;
    left: 3rem;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    z-index:1002;
}