.gameContainer {
  height: 100vh; /* full viewport height */
  width: 100vw;
  display: flex; /* center children */
  align-items: center; /* vertical center */
  justify-content: center; /* horizontal center */
  flex-direction: column; /* stack children vertically (optional) */
  background-image: url("/waterBackground.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
